
.kkkk{
    color: red;
}
.up{
    color: cyan;
}
.container p > small {
    color: forestgreen;
}
.container > p {
    background: cornflowerblue;
}
.boll h1{
    text-decoration: line-through;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: .4rem 0;
}

.wrap h2, video{
    color: salmon;
    background: cyan;
}